#desert {
    background-color: #fff1e6;
}

#desert .header {
    background-image: url("../../../data/TatacoaDesert.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 900px;
    position: relative;
}

#desert .header h1 {
    margin: 0;
    text-align: left;
    padding: 30px 70px;
    font-size: 80px;
    color: #492d0f;
    width: 60%;
    font-weight: normal;
    letter-spacing: 9px;
    line-height: 90px;
}

#desert .header h2 {
    margin: 0;
    font-size: 30px;
    color: #d6bfb6;
    position: absolute;
    bottom: 0;
    letter-spacing: 9px;
    line-height: 90px;
    text-align: center;
    width: 100%;
}

#desert .description {
    background-image: url("../images/fondo-rarito.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 900px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

#desert .description p {
    margin: 0;
    font-size: 80px;
    color: #492d0f;
    font-weight: normal;
    letter-spacing: 9px;
    width: 100%;
}

.tatacoa-desert-card {
    height: 261px !important;
    width: 500px !important;
}

#desert .description .tatacoa-container {
    background-color: #ffd685;
    height: 195px;
    width: 60%;
    border-radius: 15px;
}

#desert .description .tatacoa-container p {
    font-size: 120px;
}

#desert .activities img {
    width: 100%;
}

#desert .activities .second-image {
    margin-top: -6px;
}

#desert .countdown-container {
    background-color: #fcd2a4;
    display: flex;
    justify-content: center;
    padding: 50px 0;
    flex-wrap: wrap;
}

#desert .countdown-container h2 {
    width: 100%;
    text-align: center;
}

#desert .countdown-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: nowrap;

}

#desert .countdown-container ul li {
    margin: 0 30px;
    
}

#desert .countdown-container ul li .number {
    background-color: #f7b36a;
    width: 30px;
    height: 30px;
    color: black;
    margin: auto;
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    font-family: 'Kanit-Medium';
}

#desert .countdown-container ul li .label {
    font-family: 'Kanit-Light';
    font-weight: bolder;
    text-align: center;
}


#desert .pricing h2 {
    background-color: #6b2e00;
    color: white;
    font-size: 70px;
    font-weight: normal;
    padding: 30px 40px;
    text-align: left;
    text-transform: uppercase;
    position: relative;
}

#desert .pricing h2::after {
    content: url("../images/liniecita.png");
    position: absolute;
    top: 40%;
    left: -10px;
}

#desert .data {
    padding: 50px 150px;
    text-align: left;
}

#desert .data h3 {
    margin: 0;
    font-size: 70px;
}

#desert .data h4 {
    font-size: 35px;
    margin: 0;
    font-weight: normal;
}

#desert .data p {
    font-size: 25px;
}

#desert .data table {
    width: 100%;
}

#desert .data table tr td:last-child {
    text-align: right;
}

#desert .counts {
    display: flex;
    flex-wrap: wrap;
}

#desert .counts .col:first-child {
    display: flex;
    flex-direction: column;
    width: 80%;
    text-align: right;
}

#desert .counts .col:first-child label:first-child {
    margin-right: 135px;
}

#desert .counts .col:nth-child(2) {
    display: flex;
    width: 20%;
    flex-direction: column;
    text-align: right;
}

#desert .counts hr {
    width: 100%;
}

#desert .counts label {
    font-size: 20px;
    
}

#desert .counts p {
    margin: 0;
    font-size: 20px;
}

#desert .counts .total {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    text-align: right;
}

#desert .counts .total label {
    width: 70%;
    font-size: 30px;
    margin-right: 158px;
}

#desert .counts .total p {
    width: 20%;
    font-size: 30px;
}


#desert .firms {
    padding: 50px 150px;
    text-align: left;
}

#desert .firms h3 {
    margin: 0;
    font-size: 70px;
}

#desert .firms h4 {
    font-size: 35px;
    margin: 0;
    font-weight: normal;
    margin-top: 30px;
}

#desert .firms p {
    font-size: 18px;
    margin: 0;
    font-weight: normal;
}

#desert .firms img {
    margin-left: -45px;
}

#desert .firms .disclaimer p {
    font-size: 15px;
    color: grey;
}