#roller-skate {
    overflow: hidden;
    background-color: #040126;
    text-align: center;
}

.roller-skate-card {
    height: 261px !important;
    width: 500px !important;
    margin-left: -80px;
}


#roller-skate .roller-header {
    background-image: url('../images/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
    position: relative;
    overflow: hidden;
}

#roller-skate .roller-header::before {
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url('../images/header-lines.png');
    top: -30px;
    right: -20px;
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
}



#roller-skate .roller-header h1 {
    color: white;
    margin: 0;
    padding-top: 250px;
    font-size: 120px;
    letter-spacing: 5px;
}


#roller-skate h2 {
    color: #ed246c;
    margin: 0;
    font-size: 35px;
    letter-spacing: 3px;
}

#roller-skate .roller-header h2 {
    padding-bottom: 300px;
}

#roller-skate .countdown-container {
    position: relative;
    margin-top: -170px;
}

#roller-skate .countdown-container ul {
    padding: 0;
    list-style: none;
}

#roller-skate .countdown-container ul li {
    display: flex;
    justify-content: center;
}

#roller-skate .outer-border {
    margin: 10px;
    border: solid 10px #ed246c;
}

#roller-skate .countdown-container .number, #roller-skate .countdown-container .label {
    color: white;
    padding: 0px 30px;
    border: solid 1px white;
    background-color: #ed246c;
    font-size: 100px;
    text-transform: uppercase;
}


#roller-skate .countdown-container::before {
    content: " ";
    background-color: #ed246c;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(45deg) translate(-93px,122px); 
}

#roller-skate .countdown-container::after {
    content: " ";
    background-color: #ed246c;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 0;
    right: 0;
    transform: rotate(45deg) translate(122px,-93px);
}

#roller-skate .roller-description {
    color: white;
    font-size: 40px;
    margin: 0 10%;
}


#roller-skate .roller-images {
    background-image: url('../images/photo-bg.jpg');
    margin: 100px auto;
    padding: 60px;
    width: 600px;
    border-radius: 20px;
}

#roller-skate .roller-skate-image {
    border: 1px solid white;
}

#roller-skate .star-container {
    position: relative;
}

#roller-skate .star {
    position: absolute;
    width: 90px;
    height: 90px;
    background-image: url('../images/star.png');
    background-size: cover;
}

#roller-skate .star.one {
    top: 10px;
    left: 150px;
}

#roller-skate .star.two {
    top: 250px;
    left: 300px;
}

#roller-skate .star.three {
    top: 400px;
    left: 100px;
}

#roller-skate .star.four {
    top: 10px;
    right: 300px;
}

#roller-skate .star.five {
    top: 250px;
    right: 150px;
}

#roller-skate .star.six {
    top: 400px;
    right: 300px;
}